<script src="https://kit.fontawesome.com/a42b92b008.js" crossorigin="anonymous"></script>
<div class="home">
   
<div class="col-md-4 mt-3">
            <img style="margin-top: 10px;" src="/assets/LI-Logo.svg" alt="Linkedin" height="10%" width="30%">
</div>
<div class="container" style="padding-left: 480px ; padding-top: 50px;">
<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h3 class="card-title">Sign In</h3>
      <p class="card-text">Stay updated on your professional world</p>
    </div>
    <form class="input">
        <div class="grid mr-center md-center ml-center mt-center ">
          <label for="exampleInputEmail1" class="form-label"></label>
          <input type="email" class="form-control" style=" border: 2px solid #333;"id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email or Phone">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"></label>
          <input type="password" class="form-control" style=" border: 2px solid #333;"id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mb-3 form-check">
          <button type="button" class="btn btn-link" style="text-decoration: none; margin-left: -20px; margin-bottom: 20px; margin-top: 0px;">Forgot Password?</button><br>
          <button type="button" class="btn btn-primary" style="border-radius: 20px; width: 250px; margin-left: -20px;">Sign in</button>
          <hr>

          <button type="button" class="btn btn-light">Sign in with google</button><br>
          <button type="button" class="btn btn-light">Sign in with apple</button>
        </div>
    </form>
  </div>
  
</div>
<a style="margin-left: 45%; padding-top: 20px;">New to Linkedin?</a><a href="#" class="card-link" style="color: darkblue;">Join Now</a>
<footer style="position: relative; margin-top:120px;">
<div class="grid text-center">

    <img src="/assets/LI-Logo.svg" alt="Linkedin" height="3%" width="5%">&copy;2023  <a href="#" class="card-link">UserAgreement  </a>
    <a href="#" class="card-link">PrivacyPolicy  </a>
    <a href="#" class="card-link">CommunityGuidelines  </a>
    <a href="#" class="card-link">PrivacyPolicy  </a>
    <a href="#" class="card-link">CookiePolicy  </a>
    <a href="#" class="card-link">SendFeedback  </a>
    <a href="#" class="card-link">Language  </a>
  </div>
</footer>
</div>
  